---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Songs from "../components/Songs.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Exterminio OP!!!">
  <main>
    <Header />
    <h1 class="text-white justify-center text-center mt-10">
      Level Up in 8-bit
    </h1>
    <Songs />
    <Footer />
  </main>
</Layout>
