---
const baseUrl = import.meta.env.PROD ? "/exterminio-page/" : "/";
---

<footer class="h-80 relative md:flex-row mt-10">
  <div class="inset-0 flex items-center justify-center flex-col md:flex-row">
    <img
      src={`${baseUrl}img/overPower.jpg`}
      alt="MDN"
      class="w-80 h-auto border-8 border-gray-500 pt-30 pb-30"
    />
    <img
      src={`${baseUrl}img/somosGamers.jpg`}
      alt="MDN"
      class="w-80 h-auto border-8 border-gray-500 pt-30 pb-30"
    />
    <img
      src={`${baseUrl}img/judy.jpg`}
      alt="MDN"
      class="w-80 h-auto border-8 border-gray-500 pt-30 pb-30"
    />
  </div>
  <div class="mt-auto bg-gray-800 text-white py-4 text-center text-xs">
    <p>
      © 2024 Sitio desarrollado por Marco Alfaro | Todos los derechos
      reservados.
    </p>
  </div>
</footer>
